html {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 200;
}

body {
  margin: 0;
  overflow-x: hidden;
}

h1 {

}

h3 {

}

/* ---------- tabbar styling ---------- */
.tabbar {
  position: fixed;
  bottom: 0;
  z-index: 9999;
}

/* Style the links inside the navigation bar */
.tabbar a {
  display: inline-block;
  color: var(--text-color-light);
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* Add a color to the active/current link */
.tabbar a.active {
  background-color: blue;
  color: white;
}

/* ---------- page styling ---------- */
.page {
  display: none;
  animation: fadeIn 0.4s;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}


form button {
  font-weight: 200;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 12px 15px;
  font-size: 1em;
  border-radius: 0;
  color: #ffffff !important;
  background-color: rgb(38, 76, 89);
  width: 100%;
  max-width: 350px;
}

input,
select {
  -webkit-appearance: none;
  margin: 1em auto;
  width: 100%;
  max-width: 350px;
  padding: 15px 15px;
  box-sizing: border-box;
  display: block;
  background: #fff;
  border: 0;
  border-radius: 0;
}

/* styling til beacons slettes senere!*/
#forsideIndholdWrap {
  height: calc(100vh - 55px);
  width: 100vw;
  overflow-y: hidden;
}

#mapwrap {
  height: 100%;
  transition: 0.4s;
  position: relative;
}

#mapoverlay {
  display: none;
  background: black;
  position: absolute;
  opacity: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
}


#map {
  height: 100%;
  width: 100%;
}

#opslagmenuwrap {
  height: 100%;
  width: 100%;
}

#imgwrap {
  position: relative;
  z-index: 99999999;
  height: 15%;
  background: green;
}

#opslagwrapwrap {
  height: max-content;
  background: red;
}



/* OPSLAGSTING */
#opslagwrap {
  height: 75px;
  display: flex;
  width: 100vw;
}

#opslagwrap h2, #opslagwrap p{
  margin: 0;
}

#profilimg {
  width: 75px;
  height: 100%;
  background: blueviolet;
}

#infoogshit {
  width: 75px;
  height: 100%;
  background: rgb(0, 166, 255);
}

#tekstogshit {
  flex-grow: 1;
}

/* FJERNER GOOGLES LOGO OG LORT */
/* Ulovligheder vær forsigtig */
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

