html {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 200;
}

body {
  margin: 0;
  overflow-x: hidden;
}

h1 {

}

h3 {

}

/* ---------- tabbar styling ---------- */
.tabbar {
  position: fixed;
  bottom: 0;
  z-index: 9999;
}

/* Style the links inside the navigation bar */
.tabbar a {
  display: inline-block;
  color: var(--text-color-light);
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* Add a color to the active/current link */
.tabbar a.active {
  background-color: blue;
  color: white;
}

/* ---------- page styling ---------- */
.page {
  display: none;
  animation: fadeIn 0.4s;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}


form button {
  font-weight: 200;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 12px 15px;
  font-size: 1em;
  border-radius: 0;
  color: #ffffff !important;
  background-color: rgb(38, 76, 89);
  width: 100%;
  max-width: 350px;
}

input,
select {
  -webkit-appearance: none;
  margin: 1em auto;
  width: 100%;
  max-width: 350px;
  padding: 15px 15px;
  box-sizing: border-box;
  display: block;
  background: #fff;
  border: 0;
  border-radius: 0;
}

/* styling til beacons slettes senere!*/
#forsideIndholdWrap {
  height: calc(100vh - 55px);
  width: 100vw;
  overflow-y: hidden;
}

#mapwrap {
  height: 100%;
  transition: 0.4s;
  position: relative;
}

#mapoverlay {
 pointer-events: none;
  position: absolute;
  opacity: 0;
  transition: 0.4s;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: rgba(63, 94, 251, 0);
background: radial-gradient(circle, rgba(63,94,251,0) 0%, rgba(0,0,0,1) 100%);
}


#map {
  height: 100%;
  width: 100%;
}


#opslagmenuwrap {
  height: 100%;
  width: 100%;
}

#imgwrap {
  position: relative;
  z-index: 99999999;
  height: 15%;
  background: green;
}


#alleopslag {
  height: max-content;
  background: red;
}


/* OPSLAGSTING */
.opslagwrap {
  height: 75px;
  display: flex;
  width: 100vw;
}

.opslagwrap h2, .opslagwrap p{
  margin: 0;
}

#profilimg {
  width: 75px;
  height: 100%;
  background: blueviolet;
  border-radius: 50%;
  background-size: contain;
}

#infoogshit {
  width: 75px;
  height: 100%;
  background: rgb(0, 166, 255);
}

#tekstogshit {
  flex-grow: 1;
}

/* FJERNER GOOGLES LOGO OG LORT */
/* Ulovligheder vær forsigtig */
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}


input {
  margin: 0 !important;
}


/* vid */
#camerawrap {
  position: absolute;
  height: 100vh;
}

#darkbg{
  height: 100%;
  width: 100vw;
  background: black;
  opacity: 0.9;
  position: absolute;
  top: 0;
}

video {
  top: 0;
  position: relative;
  z-index: 99999999999999;
  height: auto;
  width: 100vw;
  transform: scaleX(-1);
}

#butwrapcamera {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: center;
  color: white;
}

#butwrapcamera div{
  margin: 5%;
}

/* <div id="stopcaneraknap"></div>
<div id="tagbilledeknap"></div>
<div id="accepterbilledeknap"></div> */

#stopcaneraknap {
  z-index: 9999999;
  width: 40%;
  height: 50px;
  background: red;
}

#tagbilledeknap {
  z-index: 9999999;
  width: 40%;
  height: 50px;
  background: green;
}

#accepterbilledeknap {
  z-index: 9999999;
  width: 90%;
  height: 50px;
  background: blue;
}


#takepicbut {
  height: 90px;
  width: 90px;
  background-color: red;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 80%;
  left: 50%;
  border-radius: 50%;
}

#imagePreview {
  height: 30vw;
  width: 90vw;
  background-color: blue;
}

#profileimagePreview {
  height: 30vw;
  width: 90vw;
  background-color: blue;
}

/* #home {
position: relative;
} */




/* OLAY NÅR MAN TRYKKER PÅ OPSLAG */

#opslagklikwrapwrap {
  z-index: 99999999999999999;
  position: absolute;
}

#klikkedopslagoverlaywrap {
  position: fixed;
  z-index: 99999999;
  height: 100vh;
  width: 100vw;
  background: black;
  opacity: 1;
}

#resetknap {
  height: 60px;
  width: 60px;
  background: rgb(106, 255, 0);
  position: absolute;
  transform: translate(-50%, -50%);
  left: 95%;
  top: 5%;
  z-index: 99999999;
}

#klikkedopslagoverlaywrap p, #klikkedopslagoverlaywrap h2{
margin: 0;
}

#userwrapstuff {
  height: 75%;
  width: 90%;
  background: green;
  position: absolute;
  z-index: 99999999999;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 5%;
  overflow: hidden;
}

#Oimgwrap {
  height: 45%;
  width: 100%;
  background: red;
}

#placeimg {
  position: relative;
  height: 80%;
  width: 80%;
  background: hotpink;
  transform: translate(-50%, -50%);
  top: 55%;
  left: 50%;
  background-size: contain;
}

#Obutwrap {
  height: 15%;
  background: indigo;
}

#Jbutton {
  position: relative;
  float: right;
  width: 50%;
  height: 100%;
  background: yellow;
}

#OpslagsInf {
  height: 25%;
  width: 100%;
  background: blue;
  display: flex;
}

#OPImg {
  height: 30vw;
  width: 30vw;
  background: rgb(0, 166, 255);
  border-radius: 50%;
  background-size: contain;
}

#OPInf {
  height: 100%;
  flex-grow: 1;
  background: rgb(208, 0, 255);
}

#OPInftekstwrap {
height: 60%;
width: 100%;
background: green;
}


#OPInfpropertywrap {

}

#MoreButwrap {
height: 100%;
width: 100%;
display: flex;
justify-content: space-between;
}

#chatbut {
  width: 50%;
  height: 100%;
  background: pink;
}

#profilbut {
  width: 50%;
  height: 100%;
  background: red;
}

/* input form stryling */
form {
  margin-left: 5%;
  margin-right: 5%;
  background-color: var(--light-green);
  border-radius: 10%;
}

form button {
  font-weight: 200;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 12px 15px;
  font-size: 1em;
  border-radius: 20px;
  color: #ffffff !important;
  background-color: rgb(38, 76, 89);
  width: 100%;
  max-width: 350px;
}

input,
select {
  -webkit-appearance: none;
  margin: 1em auto;
  width: 100%;
  max-width: 350px;
  padding: 15px 15px;
  box-sizing: border-box;
  display: block;
  background: #fff;
  border: 0;
  border-radius: 0;
}

.firebaseui-container {
  font-family: 'Raleway', sans-serif;
}

#firebaseui-auth-container {
  margin-top: 10%;
}

.mdl-button--raised.mdl-button--colored {
background: var(--dark-brown);
width: 10%;
}

.mdl-textfield__label:after {
  background-color: var(--dark-brown);
}

.firebaseui-textfield.mdl-textfield .firebaseui-label::after {
  background-color: var(--dark-brown);
}

.mdl-textfield__input { 
background-color: var(--light-green);
font-family: 'Raleway', sans-serif;
}

.mdl-button {
  font-family: 'Raleway', sans-serif;
}

.firebaseui-form-actions {
text-align: center;
}

.firebaseui-link {
color: black;
}

#butbubtu {
  height: 100px;
  z-index: 999999999999999999999999999999;
  width: 922px;
  position: absolute;
  background: red;
}

#opretBruger {
  height: 100vh;
  width: 100vw;
  background-color: lawngreen;
  display: none;
}